body{
position: relative;
}
h1{
    font-size: 80px;
    font-weight: 800;
    text-align: center;
}
p{
    margin: auto;
    padding-top: 20px;
    width: fit-content;
    max-width: 65%;
    line-height: 34px;
    letter-spacing:.7px;
    color:#9B9B9C ;
    font-family:'Open Sans', sans-serif;
    font-style: normal;
    text-align: center;
}
button{
    width: 250px;
    height: 80px;
    background-color:#9B9B9C;
    color: white;
    border-radius:8px;
    text-align: center;
    position: absolute;

    left: 620px;
    top: 250px;
}
button:hover{
    background-color: black;
}
h3{
    text-align: center;
    padding: 60px;
}